option_settings:
  aws:elasticbeanstalk:application:environment:
    COMPOSER_HOME: /root

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /public: public

container_commands:
  01_storage_permissions:
    command: "chmod -R 775 storage bootstrap/cache"
    leader_only: true

  02_database_migrate:
    command: "php artisan migrate --force --no-interaction"
    leader_only: true
