option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: "/public"
    memory_limit: "256M"

container_commands:
  01_clear_caches:
    command: |
      php artisan config:clear
      php artisan route:clear
      php artisan view:clear

  02_set_permissions:
    command: "chmod -R 775 /var/app/current/storage /var/app/current/bootstrap/cache"

  03_migrate:
    command: "php artisan migrate --force"
    leader_only: true
