files:
  "/etc/php.d/99-laravel.ini":
    mode: "000644"
    owner: root
    group: root
    content: |
      memory_limit = 512M
      max_execution_time = 300
      max_input_time = 300
      post_max_size = 100M
      upload_max_filesize = 100M
      opcache.enable=1
      opcache.memory_consumption=256
      opcache.validate_timestamps=1
      opcache.revalidate_freq=0
