container_commands:
  01_permissions:
    command: "chmod -R 775 storage bootstrap/cache"

  02_install_node:
    command: "curl -sL https://rpm.nodesource.com/setup_20.x | sudo bash - && sudo yum install -y nodejs"
    ignoreErrors: true

  03_npm_install:
    command: "npm ci --production=false"

  04_npm_build:
    command: "npm run build"

  05_composer_install:
    command: "composer install --no-dev --optimize-autoloader"

  06_cache_clear:
    command: "php artisan cache:clear"

  07_migrate:
    command: "php artisan migrate --force"
    leader_only: true
